{% extends 'base.html' %}
{% load uppercase %}

{% block title %} Home Page {% endblock %}

{% block content %}

    <h1>Home page</h1>
{#    <form class="d-flex" method="get">#}
{#        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">#}
{#        <button class="btn btn-outline-success" type="submit">Search</button>#}
{#    </form>#}
    <hr>
    <div>
        <form method="get">
            {{ filter.form.as_p }}
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% for blog in blogs %}

            <h3><a href="{% url 'blog:blog_detail' blog.pk %}">{{ blog.title|title_to_uppercase }}</a></h3>
            <img src="{{ blog.image.url }}">
            <p>{{ blog.description|truncatewords:20 }}</p>
            <p>{{ blog.created|date:"Y-m-d h:i" }}</p>
            <p>{{ blog.views|default:"Ko'rishlar soni yuq" }}</p>
            <p>{{ blog.category.name }}</p>
            {% for tag in blog.tags.all %}
                {{ tag.name }} |
            {% endfor %}
        {% empty %}
            <p>Ma'lumot topilmadi</p>
            <hr>
        {% endfor %}
    </div>

{% endblock %}